* {
    margin: 0;
    padding: 0;
  }
  .slider {
    width: 50%;
    margin: 0 auto;
  }
  .slick-slide img {
    width: 100%;
  }
  .slick-slide {
    margin: 0;
  }
  .slick-slide:not(.slick-center) {
    opacity: 0.5;
  }
  .header_slider .thumb {
    width: 40%;
    margin: 0 auto;
  }
  .header_slider .thumb li {
    margin-right: 20px;
  }
